#
# Timer Kconfig
#

config XHEEP_RV_TIMER
  bool "X-HEEP Timer(s)"
  default y
  depends on DT_HAS_ESL_EPFL_X_HEEP_RV_TIMER_ENABLED
  select COUNTER
  help
    Enable the driver for the lowRISC rv_timer IP in the X-HEEP
    user peripheral domain. Provides the Zephyr counter API (start, stop,
    get_value, get_freq, set_channel_alarm, cancel_channel_alarm).
