#
# Drivers folder Kconfig
#

# Serial Comms child Kconfig
rsource "serial/Kconfig"

# Interrupt Controller child Kconfig
rsource "interrupt_controller/Kconfig"

# Counter child Kconfig
rsource "timer/Kconfig"

# GPIO child Kconfig
rsource "gpio/Kconfig"
